@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    font-family: "Quicksand", serif;
    font-weight: 500;
}
/* Shared Styles */
body{
    margin: 0;
}
.s{
    width: 100%;
}
.a{
    margin: 0 auto;
    max-width: 1150px;
}
h2{
    font-weight: 700;
    font-size: 56px;
    line-height: 58px;
    text-align: center;
    margin-bottom: 75px;
    margin-top: 65px;
}
ul{
    margin:  0;
}
.btn-primary{
    padding: 12.5px 61px;
    font-size: 20px;
    font-weight: 500;
    background-color: #111111;
    color: white;
    border-radius: 12px;
    outline: none;
    border: none;
}


/* Unique Style */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    position: relative;
    padding-bottom: 30px;
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-logo span{
    font-weight: 700;
    font-size: 32px;
    margin-left: 10px;
}
.nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nav li>a{
    font-size: 20px;
    padding: 0 15px;
    text-decoration: none;
}
.n1{
    color: #FAA304;
}
.n2{
    color: #00ACFD;
}
.n3{
    color: #06d7e6;
}
.n4{
    color: #4640ec;
}
.nav .btn-primary{
    background-color: #FAA304;
}
.menu{
    display: none;
}





.hero-section{
    display: flex;
    justify-content: space-between;
}

.cta-s h1,
.cta-s h1 *{
    font-weight: 700;
    font-size: 56px;
    line-height: 61px;
}
.cta-s h1{
    max-width: 580px;
    margin-top: 120px;
    margin-bottom: 20px;
    color: #202020;
}
.cta-h1{
    color: #FAA304;
}
.cta-h2{
    color: #00ACFD;
}
.hero-section P{
    color: #202020;
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 400;
    max-width: 620px;
}







.curriculum-s{
    background: url(../assets/bg.png);
    background-repeat: no-repeat;
}
.curriculum-cards{
    display: flex;
    column-gap: 25px;
}
.curriculum-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    padding: 50px 40px;
    border-radius: 19px;
}
.cc1{
    background: rgb(217,239,249);
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255,255,255,0) 40%);
    border: 1px solid #DEF5FF;
}
.cc2{
    background: rgb(255,244,220);
    background: linear-gradient(180deg, rgba(255,244,220,1) 0%, rgba(255,255,255,0) 40%);
    border: 1px solid #fff4dc;
}
.cc3{
    background: rgb(242,232,255);
    background: linear-gradient(180deg, rgba(242,232,255,1) 0%, rgba(255,255,255,0) 40%);
    border: 1px solid #F2E8FF;
}
.curriculum-card h3{
    font-size: 25px;
    font-weight: 700;
    line-height: 31px;
    margin: 0;
    color: #202020;
}
.curriculum-card p{
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
    text-align: center;
    color: #808080;
}
.curriculum-card a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
}
.cc1 a{
    color: #64C8FF;
}
.cc2 a{
    color: #F0AA01;
}
.cc3 a{
    color: #8839FE;
}
.curriculum-cards-move{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.curriculum-cards-move a{
    display: block;
}
.curriculum-cards-move i{
    background-color: #FAA304;
    font-size: 30px;
    color: white;
    padding: 15.5px 20.2px;
    border-radius: 50%;
}
